/* CSS Formulir */

.formulir {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* Nama dari judul form nya */
label, textarea {
    /* atur jarak antar input */
    float: left;
    /* Panjang jarak */
    width: 200px;
}

/* Chrome, Safari, Edge, Opera */
/* Mematikan tanda panah angka */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input, select, textarea {
    /* Panjang Input */
    width: 500px;
    border: 1px solid rgb(23, 22, 22);
    border-radius: 2px;
    /* Bacground */
    background-color: blue;

    /* Text warna */
    color: azure;
    /* tinggi input */
    height: 20px;
}

/* Bagian submit */
.submit {
    background-color: red;
    border: 2px solid black;
    border-radius: 6px;
    width: 80px !important;
}

/* Deskripsi diri */
.deskripsi_diri {
    display: flex;
}

.deskripsi_diri textarea {
    resize: none;
    width: 290px;
    height: 150px;
}

/* font Label */
label {
    font-weight: bold;
}

/* Ubah warna Placeholder */
/*support google chrome*/
.deskripsi_diri textarea::-webkit-input-placeholder{
	color: rgb(255, 255, 255);
}
 
/*support mozilla*/
.deskripsi_diri textarea:-moz-input-placeholder{
	color: rgb(255, 255, 255);
}
 
/*support internet explorer*/
.deskripsi_diri textarea:-ms-input-placeholder{
	color: rgb(255, 255, 255);
}